@font-face {
    font-family: "open-sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: "open-sans";
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*HEADER*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    background-color: #f9bb2f;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.navigation {
    width: 55%;
}

.navigationList {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: x-large;
    list-style-type: none;
}

.navigationList a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Hover sur les boutons de la barre de navigation*/

.navigationList a:hover {
    text-decoration: none;
    color: white;
}

/*Effet de clic sur les boutons = le mot change de couleur quand on clic dessus*/
.navigationList li a:active {
    transform: scale(0.95);
    color: red;
}

/* MAIN : FORMULAIRE*/



.formulaire h2 {
    margin: 40px;
    text-shadow: 0 0 0 black;
    font-size: xx-large;
    text-align: center;
}

form {
    background-color: #f9bb2f;
    width: 70%;
    margin: auto;
    padding-top: 20px;
}

form input {
    margin-left: 10px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
}


form label {
    margin-left: 40px;
}


#lastname {
    width: 30%;
}

#firstname {
    width: 30%;
}

#mail {
    width: 40%;
}

#message {
    width: 80%;
    padding: 9px;
}

.mail {
    padding-bottom: 40px;
}

.message label {
    vertical-align: top;
}

.message textarea {
    height: 200px;
}




.bouton {
    text-align: center;
    padding-bottom: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}

button {
    height: 50px;
    width: 90px;
    font-weight: bold;
    border-color: black;
    border: solid thin;
    background-color: black;
    color: #f9bb2f;

}

/* hover et effet de clic pour le bouton envoyer*/

button:hover {
    background-color: white;
    color: #f9bb2f;
    border: solid thin black;
}

button:active {
    color: red;
}

/* fin du hover et effet de clic sur le bouton envoyer*/

/* MAIN : partie contact de fin*/

#contactFin {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}


h3 {
    margin-top: 80px;
    text-shadow: 0 0 0 black;
    font-size: xx-large;
}

.contactPict img {
    width: 10%;
}

/*FOOTER*/

footer {
    background-color: #f9bb2f;
    text-align: center;
}

footer h2 {
    margin: auto;
}

footer img {
    margin: 20px;
    width: 30px;

    border: thin;
    border-radius: 40px;
}



/* PARTIE RESPONSIVE*/

@media screen and (max-width: 768px) {


    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header img {
        width: 50%;
    }

    .navigation {
        width: 100%;
    }

    .navigationList a {
        font-size: 10px;
    }

    /* media : partie formulaire*/

    #mail {
        width: 10%;
    }

    .identite {
        display: flex;
        flex-direction: column;
    }

    .identite input {
        margin-top: 0%;
    }

    .identite label {
        margin-left: 18px;
    }

    #lastname {
        width: 90%;
    }

    #firstname {
        width: 90%;
    }

    #mail {
        width: 70%;
    }

    .mail label {
        margin-left: 18px;
    }

    textarea {
        width: 40%;
        margin-left: 30px;
    }

    /* media : partie footer*/

    footer {
        margin: 0;
    }
}